@import "normalize.css";

/*Large Devices, Wide Screens - 1200px*/
/*Medium Devices, Desktops - 992 px*/
/* Small Device, Tablets */
/*Extra Small Devices, Phones*/
/* Custom, iPhone Retina */
body {
  background: #1F1E1B;
  color: #F0E3CA;
  font-family: "Inconsolata", monospace;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #FF8303;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* HEADER */
.header__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav .logo-svg {
  padding: 10px;
}

.header__nav .header__main-menu {
  width: 530px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.header__nav .header__main-menu .header__nav-item {
  font-weight: 700;
  font-size: 20px;
  color: #F0E3CA;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px;
  text-decoration: none;
}

.header__nav .header__main-menu .header__nav-item:hover {
  opacity: 1;
}

.header__nav .header__main-menu--active {
  color: #FF8303;
  opacity: 1;
}

/* /HEADER */
/* PROMO */
.promo__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  gap: 50px;
}

.promo__container .promo__inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 15px;
}

.promo__container .promo__title {
  font-weight: 900;
  font-size: 48px;
  color: #FF8303;
}

.promo__container .promo__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: start;
  color: #fff;
}

.promo__container .promo__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #F0E3CA;
}

.promo__container .promo__animation {
  position: relative;
  width: 600px;
  height: 600px;
}

.promo__container .promo__animation pre {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: start;
  color: rgba(163, 87, 9, 0.5);
}

.promo__container .promo__animation pre:after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

.promo__container .promo__animation .promo__images {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  .promo__container .promo__photo_bg img {
    width: 250px;
  }
}
/* /PROMO */
.about-me-wrapper {
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.about-me-wrapper p {
  width: 600px;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F0E3CA;
}

.education p,
.languages p {
  text-align: center;

}

.skills .skills-inner {
  padding: 20px 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.skills .skills-inner .box-wrapper {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 32px;
}

.skills .skills-inner .box-wrapper .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  background-color: #2D322A;
  width: 100px;
  height: 150px;
}

@media (max-width: 480px) {
  .skills .skills-inner .box-wrapper .box svg {
    width: 30px;
  }
}

@media (max-width: 480px) {
  .skills .skills-inner .box-wrapper .box {
    padding: 5px;
    width: 280px;
    height: 60px;
    align-items: center;
    justify-content: start;
    flex-direction: row;
  }
}

.skills .skills-inner .box-wrapper .box h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 37px;
  color: #fff;
}

@media (max-width: 480px) {
  .skills .skills-inner .box-wrapper .box h3 {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
  }
}

.skills .skills-inner .box-wrapper .box path {
  fill: #F0E3CA;
  transition: 0.3s;
}

.skills .skills-inner .box-wrapper .box:hover:nth-child(1) path {
  fill: #FC490B;
}

.skills .skills-inner .box-wrapper .box:hover:nth-child(2) path {
  fill: #2196F4;
}

.skills .skills-inner .box-wrapper .box:hover:nth-child(3) path {
  fill: #FFDF00;
}

.skills .skills-inner .box-wrapper .box:hover:nth-child(4) path {
  fill: #CA669B;
}

.skills .skills-inner .box-wrapper .box:hover:nth-child(5) path {
  fill: #F25234;
}

.my-works p {
  text-align: center;
  color: #F0E3CA;
}

.footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 30px;
  padding: 50px 0;
}

.footer .footer-wrapper .footer-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 480px) {
  .footer .footer-wrapper .footer-inner {
    align-items: center;
  }
}

.footer .footer-wrapper .footer-inner img {
  display: inline-block;
}

.footer .footer-wrapper .footer-inner p {
  max-width: 300px;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F0E3CA;
}

@media (max-width: 768px) {
  .footer .footer-wrapper .footer-inner p {
    align-items: center;
    text-align: center;
    max-width: 500px;
  }
}

.footer .footer-wrapper .footer-inner h2 {
  line-height: 0;
}

.footer .footer-wrapper .footer-inner .contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 5px;
}

.footer .footer-wrapper .footer-inner .contacts .contacts-inner {
  display: flex;
  justify-content: start;
  gap: 5px;
}

@media (max-width: 480px) {
  .footer .footer-wrapper .footer-inner .contacts .contacts-inner {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer .footer-wrapper .footer-inner .contacts .contacts-inner a {
  gap: 5px;
  width: 300px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FF8303;
}

/*# sourceMappingURL=style.css.map */